.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 4px 0px !important;
}

.swiper-container-vertical>.swiper-pagination-bullets {
    left: 8px;
    right: 0px;
}