.box {
  width: 100%;
  height: 200px;
  border: 1px solid;
  margin-bottom: 30px;
  transform: translateX(600px);
  transition: all 0.2s ease-in-out;
}
.visible {
  transform: translateX(0px);
}
.more-btn {
  width: 500px;
  height: 400px;
  background-color: aqua;
}
